.error-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem 3rem;
  background-color: color-mix(var(--color-ink) 5%);
}

.error-page .error-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.error-page .error-text h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.error-page .error-text h2 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.error-page .error-text p {
  width: 100%;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}

.error-page .error-text .btn-group {
  width: 100%;
}

.error-page .error-image {
  max-width: 600px;
  margin-left: 2rem;
}

.error-page .error-image img {
  width: 100%;
  height: auto;
}